@import "tailwindcss";

:root {
  --color-accent: #F95C4B;
  --color-bg: oklch(92.3% 0.003 48.717);
  --color-surface: oklch(97% 0.001 106.424);
  --text-muted: oklch(55.3% 0.013 58.071);
  --text-secondary: oklch(21.6% 0.006 56.043);
  --text-primary: oklch(14.7% 0.004 49.25);

  --font-head: var(--font-lato);
  --font-body: var(--font-teachers);
}

body {
  background: var(--color-bg);
  color: var(--text-primary);
  font-family: var(--font-body);
}

.first-button {
  background-color: var(--color-accent);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-family: var(--font-head);
  border: none;
}

.first-button:hover {
  background-color: darken(var(--color-accent), 10%);
  cursor: pointer;
}