@import "tailwindcss";

:root {
  --color-accent: #F95C4B;
  --color-bg: #E4DED2;
  --color-surface: #F5F4F0;
  --text-secondary: #393835;
  --text-primary: #000000;

  --font-head: var(--font-lato);
  --font-body: var(--font-teachers);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #F95C4B;
    --color-bg: #000000;
    --color-surface: #393835;
    --text-secondary: #E4DED2;
    --text-primary: #F5F4F0;
  }
}

body {
  background: var(--color-bg);
  color: var(--text-primary);
  font-family: var(--font-body);
}

.first-button {
  background-color: var(--color-accent);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-family: var(--font-head);
  border: none;
}

.first-button:hover {
  background-color: darken(var(--color-accent), 10%);
  cursor: pointer;
}